{% extends 'base.html' %}
{% block page_content %}

    <div class="row justify-content-center">
        <div class="d-flex">
{#            <div class="d-inline p-2 w-50">#}
{#                <img src="{{ profile.picture }}"#}
{#                     class="w-50 rounded mx-auto d-block" alt="description">#}
{#            </div>#}
            <div class="d-inline p-2 w-50">


                <div class="d-flex flex-column">
                    <h5><u>Name:</u> {{ profile.first_name }} {{ profile.last_name }}</h5>
                    <h5><u>Email:</u> {{ profile.email }}</h5>
                </div>


                <a href="{% url 'dashboard' %}" class="btn btn-primary">View Cart</a>
                <a href="{% url 'change password' %}" class="btn btn-primary">Change Password</a>



{#                <p class="mt-2">Total Images: {{ total_pet_photos_count }}</p>#}
{#                <p class="mt-2">Total Likes: {{ total_likes_count }}</p>#}
{#                {% if is_owner %}#}
{#                    <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit</a>#}
{#                    <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete</a>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>

{% endblock %}
