{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <h2 class='text-center'>
        {% if products %}
            Our Products
        {% else %}
            No products yet
        {% endif %}
    </h2>
        <div class="container mb-5">
            <div class="row mb-5">
                {% for product in products %}
                    <div class="card ml-3 mb-3" style="width: 18rem;">
                            {% if not product.image %}
                                <p class="card-text">{% static 'images/pumpkin.jpg' %}</p>
                            {% else %}
                                <img src="{{ product.image.url }}"
                                     class="card-img-top" alt="Photo description">
                                <div class="card-body">
                            {% endif %}
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }}</p>
                        <a class="nav-link" href="{% url 'product details' product.id %}">Product Details</a>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

<hr>

{% if request.last_viewed_products_ids %}
<h2>Last viewed products :</h2>

        <div class="container mb-5">
            <div class="row mb-5">

                {% for product in request.last_viewed_products_ids %}
                    <div class="card ml-3 mb-3" style="width: 18rem;">
                            {% if not product.image %}
                                <p class="card-text">{% static 'images/pumpkin.jpg' %}</p>
                            {% else %}
                                <img src="{{ product.image.url }}"
                                     class="card-img-top" alt="Photo description">
                                <div class="card-body">
                            {% endif %}
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }}</p>
                        <a class="nav-link" href="{% url 'product details' product.id %}">Product Details</a>


                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
<hr>
{% endif %}
{% endblock %}

