{% extends 'base.html' %}
{% load static %}

{% block page_content %}

    <h1 class='text-center'>
        {% if product_photos %}
            All products
        {% else %}
            No products yet
        {% endif %}
    </h1>
        <div class="container mb-5">
            <div class="row mb-5">
                {% for product in products %}
                    <div class="card ml-3 mb-3" style="width: 18rem;">
{#                            {% if not product_photo.image.url %}#}
                                <p class="card-text">{% static 'no_image.png' %}</p>
{#                            {% else %}#}
                                <img src="{{ product_photo.photo.url }}"
                                     class="card-img-top" alt="Photo description">
                                <div class="card-body">
{#                            {% endif %}#}
                                <a class="nav-link" href="{% url 'product details' product.id %}">Product Details</a>
                            <p class="card-text">{{ product_photo.description }}</p>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

{#        <div class=" row d-flex justify-content-center align-content-center">#}
{#            <a href="{% url 'create product image' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add#}
{#                Photo</a>#}
{#        </div>#}

{% endblock %}

