{% extends 'base.html' %}
{% block page_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <hr>

    {% for profile in profile_list %}
      <h2> {{ profile.first_name }} {{ profile.last_name }} ({{ profile.email }}),
        Has the following order: {{ profile.order_set }}
        With the given address: {{ profile.user.shippingaddress }} {# </h2> #}
        <hr>

             {% for order in orders %}
                {{ order }}
             {% endfor %}</h2>

    {% endfor %}
</body>
</html>

{% endblock %}