{% extends 'base.html' %}
{% block page_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <hr>

    {% for profile in profile_list %}
      <h2>{{ profile.email }}({{ profile.first_name }} {{ profile.last_name }}) Has the folowing oreder: {{ profile.order_set }} With the given address: {{ profile.address }} {# </h2>#}
        <hr>

{#             {% for order in ord %}#}
{#                {{ order }}#}
{#             {% endfor %}</h2>#}

    {% endfor %}
</body>
</html>

{% endblock %}