{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CottonCandyShop</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'images/candy.jpg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-mediumpurple bg-mediumpurple " style="margin-bottom:2%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="{% url 'index' %}">Home</a>#}
            {#            </li>#}

            {% if request.user.is_authenticated %}
                {% if not request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile details' request.user.id %}">Profile Details</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order_summary' %}">Go to cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout user' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shipping address' %}">Address</a>
                </li>
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link" href="{% url 'profile previous orders' profile.id %}">Profile Previous orders</a>#}
                {#                    </li>#}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard with-out profile' %}">Products</a>
                </li>
            {% endif %}


            <li class="nav-item">
                {% if request.user.is_superuser or request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create product' %}">Create Product</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profiles' %}">Profiles</a>
                    </li>
                {% endif %}

        </ul>
    </div>
</nav>
<!-- End Navigation Bar -->

<!-- Profile Information -->
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>



